.hero {
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .hero h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    color: #666;
  }